<mat-toolbar color="black">
  <span>La Imagineria</span>
  <button mat-button routerLink="/obras">Obras</button>
  <button mat-button routerLink="/imagineros">Imagineros</button>
  <button mat-button routerLink="/categorias">Categorias</button>
  <span class="spacer"></span>
  <ng-container>
    <button mat-button routerLink="/profile"></button>
    <button mat-button routerLink="/perfil">Perfil</button>
  </ng-container>
</mat-toolbar>

<div class="container">
  <div class="center-container">
    <mat-card class="card-container">
      <h2 class="form-title">Editar Categoría</h2>
      <form #editForm="ngForm" (ngSubmit)="submitForm(editForm)" class="form-container">

        <p>
          <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre" name="nombre" [(ngModel)]="categoria.nombre" required>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="fill">
            <mat-label>Descripción</mat-label>
            <textarea matInput placeholder="Descripción" name="descripcion" [(ngModel)]="categoria.descripcion" required></textarea>
          </mat-form-field>
        </p>

        <div class="button-container">
          <button mat-raised-button color="primary" type="submit">Actualizar</button>
          <button mat-raised-button color="warn" routerLink="/categorias" class="cancel-button">Cancelar</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
