<div class="container">
  <div class="center-container">
    <mat-card class="card-container">
      <h2 class="form-title">Editar Imaginero</h2>
      <form #editForm="ngForm" (ngSubmit)="submitForm(editForm)" class="form-container">

        <p>
          <mat-form-field appearance="fill">
            <mat-label>Edad</mat-label>
            <input matInput placeholder="Edad" name="edad" [(ngModel)]="imaginero.edad" required>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="fill">
            <mat-label>Localidad</mat-label>
            <input matInput placeholder="Localidad" name="localidad" [(ngModel)]="imaginero.localidad" required>
          </mat-form-field>
        </p>

        <div class="button-container">
          <button mat-raised-button color="primary" type="submit">Actualizar</button>
          <button mat-raised-button routerLink="/imagineros" class="cancel-button">Cancelar</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
