<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Contraseña actual</mat-label>
      <input matInput type="password" [(ngModel)]="oldPassword" name="oldPassword" required>
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
      <mat-label>Nueva contraseña</mat-label>
      <input matInput type="password" [(ngModel)]="newPassword" name="newPassword" required>
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
      <mat-label>Verificar nueva contraseña</mat-label>
      <input matInput type="password" [(ngModel)]="verifyNewPassword" name="verifyNewPassword" required>
    </mat-form-field>
    
    <button mat-raised-button color="primary" (click)="editPassword()">Cambiar contraseña</button>
    <button mat-raised-button routerLink="/perfil">Cancelar</button>
  </form>