
  <mat-card>
    <mat-card-header>
      <mat-card-title>Nueva Obra</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    
        <form #editForm="ngForm" (ngSubmit)="agregarObra()">

          <p>
        <mat-form-field>
          <input matInput placeholder="Titulo" name="titulo" [(ngModel)]="nuevaObra.titulo" required>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input matInput placeholder="Nombre" name="name" [(ngModel)]="nuevaObra.name" required>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input matInput placeholder="Estilo" name="estilo" [(ngModel)]="nuevaObra.estilo" required>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input matInput placeholder="Estado" name="estado" [(ngModel)]="nuevaObra.estado" required>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input matInput placeholder="Fecha" name="fecha" [(ngModel)]="nuevaObra.fecha" required>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input matInput placeholder="Img" name="img" [(ngModel)]="nuevaObra.img">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input matInput placeholder="Precio" name="precio" [(ngModel)]="nuevaObra.precio" required>
        </mat-form-field>
      </p>


      <mat-form-field appearance="fill">
        <mat-label>Cateroria</mat-label>
        <mat-select [(ngModel)]="nuevaObra.categoria" name="categoria">
          <mat-option *ngFor="let c of categorias" [value]="c.id">
            {{c.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <div>
        <button mat-raised-button color="primary" type="submit">Crear</button>
        <button mat-raised-button routerLink="/obras">Cancelar</button>
      </div>
     
    </form>
    </mat-card-content>
  </mat-card>