<mat-toolbar color="primary">
    <span>Proyecto Final</span>
    <button mat-button routerLink="/obras">Obras</button>
    <button mat-button routerLink="/imagineros">Imagineros</button>
    <span class="spacer"></span>
    <ng-container>
      <button mat-button routerLink="/profile">
        <img *ngIf="user" [src]="user.avatar" alt="Profile picture" class="profile-picture">
      </button>
      <button mat-button routerLink="/perfil">Perfil</button>
    </ng-container>
    
    <ng-container *ngIf="!isLoggedIn">
      <button mat-button routerLink="/register">Register</button>
      <button mat-button routerLink="/login">Login</button>
    </ng-container>
  </mat-toolbar>

<p>Imagineria Web</p>
