
<a routerLink="/agregar-obra">Agregar Nueva Obra</a>


<mat-grid-list cols="4" rowHeight="300px">
  <mat-grid-tile *ngFor="let obra of obras">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ obra.nombre }}</mat-card-title>
        <mat-card-subtitle>{{ obra.fecha }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p><strong>Nombre:</strong> {{ obra.nombre }}</p>
        <p><strong>Estado:</strong> {{ obra.estado }}</p>
        <p><strong>Estilo:</strong> {{ obra.estilo }}</p>
        <p><strong>Precio:</strong> {{ obra.precio | currency }}</p>
        <mat-card-title>{{ obra.nombre }}</mat-card-title>

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="editar(obra.id)">Editar</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

