<mat-grid-list cols="3" rowHeight="300px">
  <mat-grid-tile *ngFor="let imagineros of imagineros">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ imagineros.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p><strong>Edad:</strong> {{ imagineros.edad }}</p>
        <p><strong>Localidad:</strong> {{ imagineros.localidad }}</p>
        <p><strong>Id:</strong>{{ imagineros.id }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="editar(imagineros.id)">Editar</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

  