
body {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgb(68, 68, 68) 0%, rgb(145, 145, 145) 100%);
    height: 150vh;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.btn-flotante {
    font-size: 16px; 
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold; 
    color: #ffffff; 
    border-radius: 5px; 
    letter-spacing: 2px; 
    background-color: #d49fff; 
    padding: 18px 30px; 
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
  }
  .btn-flotante:hover {
    background-color: #2c2fa5;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
  }
  @media only screen and (max-width: 600px) {
     .btn-flotante {
      font-size: 14px;
      padding: 12px 20px;
      bottom: 20px;
      right: 20px;
    }
  }

  .example-header-image {
    background-image: url('https://cdn-icons-png.flaticon.com/512/2815/2815428.png');
    background-size: cover;
  }
  
  mat-card {
    transition: 0.3s cubic-bezier(.25,.8,.25,1);
    margin: 15px;
  }
  
  mat-card:hover {
    transform: scale(1.05);
  }
  
  mat-icon {
    padding-right: 5px;
  }