
<mat-toolbar color="primary">
  <span routerLink="/home">La Imagineria</span>
    <button mat-button routerLink="/obras">Obras</button>
    <button mat-button routerLink="/imagineros">Imagineros</button>
    <span class="spacer"></span> 
    <ng-container *ngIf="!isLoggedIn">
      <button mat-button routerLink="/register">Register</button>
      <button mat-button routerLink="/login">Login</button>
    </ng-container>
  </mat-toolbar>

  <div class="center-container">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Editar Perfil</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayoutAlign="center">
        <!-- Mostrar la imagen de avatar del usuario -->
        <img *ngIf="user" [src]="user.avatar" class="user-avatar"  alt="Avatar" />
      </mat-card-content>
      <mat-card-content fxLayoutAlign="center">
        <!-- Botón personalizado para subir archivo -->
        <button mat-raised-button (click)="fileInput.click()">Cambiar Avatar</button>
        <!-- Input oculto de tipo file -->
        <input id="fileInput" type="file" #fileInput (change)="onFileSelected($event)">
      </mat-card-content>
      <mat-card-content fxLayoutAlign="center">
        <button mat-raised-button (click)="onLogout()">Cerrar sesión</button>
      </mat-card-content>
      <mat-card-content fxLayoutAlign="center">
        <button mat-raised-button routerLink="/favoritos">Mis favoritos</button>
      </mat-card-content>
      <mat-card-content fxLayoutAlign="center">
        <button mat-raised-button routerLink="/edit-password">Cambiar Contraseña</button>
      </mat-card-content>
    </mat-card>
  </div>
  
 
