.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .user-avatar {
    max-width: 200px;  
    height: auto;
}

#fileInput {
  visibility: hidden;
  position: absolute;
}
