<mat-card *ngFor="let obra of obras">
    <mat-card-header>
      <mat-card-title>{{ obra.nombre }}</mat-card-title>
      <mat-card-subtitle>{{ obra.fecha }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="obra.img" alt="{{ obra.nombre }}">
    <mat-card-content>
      <p><strong>Estado:</strong> {{ obra.estado }}</p>
      <p><strong>Estilo:</strong> {{ obra.estilo }}</p>
      <p><strong>Precio:</strong> {{ obra.precio | currency }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Comprar</button>
    </mat-card-actions>
  </mat-card>